<li>
  <p data-checked={{@item.isDone}} onclick={{action @toggleItem @item}}>
    {{@item.text}}
  </p>

  <button onclick={{action @deleteItem @item}} class='delete-button'>
    Delete Item
  </button>
</li>